.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h2 {
    margin-bottom: 50px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.menu-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 11px;
  right: 15px;
  display: block;
  height: 40px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button use {
  display: block;
  position: absolute;
  transform: translate(-5px, -5px);
}

.menu-button .icon-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu,
.menu-button:focus .icon-cross,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .menu-conteiner {
    opacity: 0;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: scale(0.5);
    pointer-events: none;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-conteiner.is-open {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    padding: 0px;
  }
}

.nav__link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav__link {
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.667;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link.current {
  color: #2196f3;
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__link.current {
    padding-bottom: 8px;
  }
}

.nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo__text {
  color: #2196f3;
}

.footer .logo {
  margin: 0;
  color: #ffffff;
}

.contacts {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts.list {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts.list {
    margin-left: 305px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item + .contacts__item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.667;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
    transform: scale(0.85);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  max-height: 609px;
  max-width: 450px;
  padding: 40px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-height: 581px;
    max-width: 528px;
  }
}

.modal__text {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal__box {
  text-align: center;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form__field.coment {
  margin-bottom: 20px;
}

.form__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 1199px) {
  .form__input {
    max-width: 370px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.coment__input {
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
}

.contract {
  margin-bottom: 30px;
}

.contract__link {
  color: #2196f3;
}

.contract__field {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .contract__field {
    font-size: 12px;
    line-height: 1.667;
  }
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-24px, -50%);
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  border: transparent;
  background-size: contain;
  background-origin: border-box;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  background-color: transparent;
}

.close-btn:focus, .close-btn:hover {
  fill: #2196f3;
}

.close-btn__icon {
  display: block;
}

.hero {
  padding: 118px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop@2x.jpg);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages__list {
    flex-wrap: wrap;
  }
}

.advantages__text {
  margin: 0;
}

.advantages__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
}

.advantages__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.work {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: flex;
  justify-content: center;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }
}

.card {
  background-color: #ffffff;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    margin: 15px;
    max-width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: calc((100% - 120px) / 4);
  }
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card__list {
  display: flex;
  justify-content: center;
}

.card__link {
  height: 44px;
  width: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.card__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__item {
  margin: 15px;
  height: 90px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
  }
}

.footer__box-links > .list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box-links:last-child {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
  }
}

.box-links__item:not(:last-child) {
  margin-right: 10px;
}

.box-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-links__link:hover, .box-links__link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer__box,
  .footer__box-links:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box,
  .footer__box-links:not(:last-child) {
    text-align: center;
  }
}

.address__text {
  margin: 0;
  margin-top: 20px;
}

.address {
  color: #ffffff;
  font-style: normal;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.join {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.submit {
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  margin-left: 12px;
}

.submit__icon {
  margin: 13px 28px 13px 10px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover .submit__icon,
.submit:focus .submit__icon {
  fill: #2196f3;
}

.mail__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mail__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mail__input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .mail__input {
    margin-bottom: 20px;
  }
}

.mail__field {
  position: relative;
}

.mail__label {
  position: absolute;
  top: 8px;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail__label {
    top: 26px;
  }
}

.mail__input:focus + .mail__label,
.mail__input:not(:placeholder-shown) + .mail__label {
  transform: translateY(40px) scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */