$primary-text-color: #757575;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-hero-bg-color: #2f303a;
$title-link-color: #212121;
$secondary-link-color: #757575;
$accent-color: #2196f3;
$logo-up-color: #000000;
$logo-down-color: #ffffff;
$address-color: #ffffff;
$address-secondary-color: rgba(255, 255, 255, 0.6);
$logo-company-color: #afb1b8;
$border-color: #ececec;
